.info {
  background: #000;
  color: aliceblue;
  padding: 50px 0;
  width: 70%;
}

.info .info-container,
.info-2 .info-container {
  padding-left: 50px;
  margin: 10px auto;
}

.info .info-container .info-box .box {
  display: flex;
  margin-right: 40px;
}

.info .info-container .info-box .box .icon svg {
  margin-right: 15px;
  font-size: 22px;
  color: var(--main-color);
}

.info .info-container .info-box .box .text-box p {
  color: #777;
  font-size: 16px;
}

.info .info-container .box-4 {
  background: var(--main-color);
}

.info-2 {
  background: var(--main-color);
  width: 30%;
  padding: 50px 0;
}

.info-2 .info-container .social-box {
  display: flex;
  margin-right: 50px;
}

.info-2 .info-container .social-box .icon {
  margin-right: 30px;
}

.info-2 .info-container .social-box .icon svg {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 576px) {
  .infoBox {
    flex-direction: column;
  }
  .info {
    padding: 50px 0;
    width: 100%;
  }
  .info .info-container,
  .info-2 .info-container {
    padding-left: 30px;
    margin: 10px auto;
  }
  .info .info-container .info-box .box .text-box h5 {
    font-size: 16px;
  }
  .info .info-container .info-box .box .text-box p {
    font-size: 14px;
  }
  .info .info-container .info-box .box {
    margin-right: 5px;
  }
  .info-2 {
    width: 100%;
    padding: 50px 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .info {
    padding: 50px 0;
    width: 100%;
  }
  .info .info-container,
  .info-2 .info-container {
    padding-left: 10px;
    margin: 10px auto;
  }
  .info .info-container .info-box .box .text-box h5 {
    font-size: 16px;
  }
  .info .info-container .info-box .box .text-box p {
    font-size: 14px;
  }
  .info .info-container .info-box .box {
    margin-right: 5px;
  }
  .info-2 {
    width: 30%;
    padding: 50px 0;
  }
  .info-2 .info-container .social-box {
    display: flex;
    margin-right: 50px;
    margin: 5px auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .info {
    padding: 50px 0;
    width: 100%;
  }
  .info .info-container,
  .info-2 .info-container {
    padding-left: 10px;
    margin: 10px auto;
  }
  .info .info-container .info-box .box .text-box h5 {
    font-size: 16px;
  }
  .info .info-container .info-box .box .text-box p {
    font-size: 14px;
  }
  .info .info-container .info-box .box {
    margin-right: 5px;
  }
  .info-2 {
    width: 30%;
    padding: 50px 0;
  }
  .info-2 .info-container .social-box {
    display: flex;
    margin-right: 50px;
    margin: 5px auto;
  }
}
